<!DOCTYPE html>
    <html lang="pt-br">
        <head>
            <meta charset="utf-8"/>
        </head>
        
            
            <!-- Card Login -->
            <mat-card class="card">
                    <h4><label class="titulo"> Painel Administrativo </label></h4>
                    <mat-form-field class="example-full-width">
                        <mat-label>Usuário de Acesso</mat-label>
                        <input matInput placeholder="Ex. Digimed">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="**************" type="password">
                    </mat-form-field>
                    <div class="example-button-row">
                        <button mat-flat-button color="primary" class="botao">Acessar</button><br><br>
                    </div>  
                    <p>
                        <mat-checkbox>Lembrar-me</mat-checkbox>
                        <a href="#" style="float: right; margin-top: 7px;">Esqueceu a senha?</a>    
                    </p>
            </mat-card>
        
        
    </html>
