.container-login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url('assets/img/bg-login.jpg');
}

.card{
    width: 350px;
    height: 350px;
}

.titulo{
    margin-left: 65px;
    margin-top: 50px;
}

.botao{
    width: 100%;
}